<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>{{ title }} Weather</h1>
    <p>{{ status }} and {{ temp }} &deg;</p>
    <p>Feels like {{ feels_like }} &deg;</p>

    <form class = "form__group field" action="/weather">
        <input class = "form__field type="text" name="city" id="city" placeholder="Enter a City" />
        <label for="city" class="form__label">Name</label>
        <button class="button-1" role="button">Submit</button>
    </form>
</body>

</html>
